body {
    margin: auto;
    padding: 0;
    overflow-x: hidden;
 }
 @font-face {
   font-family: anu;
   src: url("Anurati-Regular.otf");
 }
 .hero {
    position: relative;
    min-width: 100vw;
    min-height:100vh ;
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    
 }
 .hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
     height: 100%;
     /* width: max-content;
     height: max-content; */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/3.png"); 
    background-repeat: no-repeat;
     background-size: cover; 
    /* background-position: center center; */
    background-attachment: fixed;
    filter: brightness(60%);
 }
 .hero-content {
    position: relative;
    font-family: "anu", sans-serif;
    color: white;
    text-align: center;
    margin: 0.625rem;
 }
 .hero-title {
    font-size: 3rem;
    font-weight: 600;
    margin-bottom: 0;
    background: linear-gradient( to bottom right,#528cf0,#DDA62A,#ef41cb);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 }
 
 .hero-subtitle {
    font-size: 2rem;
    font-weight: 200;
    margin-top: 1rem;
 }
 .hero-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    margin-top: 5rem;
    padding: 0.9375rem1.875rem;
    font-family: "anu", sans-serif;
    font-size: 1.5rem;
    font-weight: 200;
    cursor: pointer;
    width: 140px;
    height: 60px;

 }
 .hero-button:hover {
    background-color: #DDA62A;
    border: 1px solid white;
 }