.topnav {
  background-color: black;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient( to bottom right,#528cf0,#DDA62A,#ef41cb) 1;
  
  
  overflow: hidden;
  position: relative;
  text-align: center;
  padding: 20px;
  font-family: "anu", sans-serif;
}

#admin{
  visibility: hidden;
}
.topnav a {  
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}
.topnav a:hover {
  background-color: #DDA62A;
  border: 1px solid white;
}
.topnav a.active {
  background-color: #528cf0;
  color: white;
}
